.cursor/
.vscode/
__debug_bin
bin/
ai/
.DS_Store
*.log


cmd/key-creator/key-creator
cmd/signer/signer
cmd/coordinator/coordinator

internal/kms-vault/secure/vault-init.json
internal/kms-vault/data
internal/kms-vault/vault-deploy/data

config/*.prod.toml